body {
  font-family: var(--font);
  background-color: var(--bg-color);
}

button {
  font-family: var(--font);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}