//fonts
@import url('https://fonts.cdnfonts.com/css/circe-rounded');

:root {
  --font: 'Circe Rounded', sans-serif;
  --font-alt: 'Circe Rounded Alt', sans-serif;

  --bg-color: #FDFDFF;
  --btn-violet: #8D7FC7;
  --dark-violet: #7362BC;
  --violet: #DECFFF;
  --violet-light: #EEEEFF;
  --light-dark: #434B74;
  --dark: #323854;
  --white: #FFFFFF;
  --gray: #ECECEC;
  --semi-dark-gray: #C8C5CD;
  --dark-gray: #79747F;
  --weekend-gray: #FBFBFC;
  --blue: #D8ECFF;
  --dark-blue: #008AFF;
  --alert-light: #E84849;
  --light-green: #D7F0D6;
  --border-green: #BBE7B9;
}