.form-input-password {
  position: relative;
}

.show-password {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 12px;
  top: 10px;
  z-index: 1;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}