.calendar-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  
  // temporary properties
  // background-color: var(--violet-light);
  // max-height: 529px;
}

.grid-cell-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
}