.language-selector {
  max-width: 64px;
  width: 100%;
  min-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  user-select: none;
}

.language-option {
  cursor: pointer;
  color: var(--dark-gray);
  font-size: 16px;
  font-weight: normal;
  line-height: 135%;
  transition: color 0.15s, font-size 0.15s, line-height 0.15s;
}

.active {
  color: var(--dark-violet);
  font-size: 24px;
  font-weight: normal;
  line-height: 21px;
}