.checkbox {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 17px;
  width: 17px;
  margin: 4px;
}

.checkbox input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #C8C5CD;
  border-radius: 2px;
  background-color: var(--white);
}

// .checkbox:hover input ~ .checkmark {
//   background-color: var(--white);
// }

.checkbox input:checked ~ .checkmark {
  background-color: var(--white);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 4.5px;
  top: 0;
  width: 6px;
  height: 12px;
  border: solid var(--dark-gray);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}