.lesson-card {
  border-radius: 2px;
  padding: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  // temporary
  border: 1px solid var(--dark-violet);
  height: 34px;

  &.current-course {
    background-color: var(--light-green);
    border-color: var(--border-green);
  }

  &.paid {
    border-color: var(--alert-light);
  }

  &.not-purchased {
    display: none;
  }
}

.lesson-time {
  font-weight: normal;
  font-size: 12px;
  line-height: 135%;
  color: var(--dark);
}

.subject-name {
  font-weight: normal;
  font-size: 10px;
  line-height: 8px;
  color: var(--dark);
}

.paid-icon {
  position: absolute;
  right: 0px;
  top: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}