.main-layout {
  display: flex;
  flex-direction: column;
}

.content-area {
  display: flex;
}

.aside {
  width: 286px;
  padding-top: 24px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-main-section {
  display: flex;
  flex-direction: column;
}

.header {
  width: 1154px;
  position: relative;
}

.main {
  height: 100%;
  margin: 20px 50px 0px 32px;
}

.footer {
  width: 100%;
  min-height: 112px;
}