.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 4px 4px 4px;
  background-color: var(--white);

  //temporary 
  height: 100px;
}

.day-number {
  //border: 1px solid var(--btn-violet);
  user-select: none;
  align-self: flex-end;
  height: 12px;

  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: var(--dark);
}

.today {
  @extend .day-number;
  color: var(--alert-light);
}

.not-current-month {
  @extend .day-number;
  color: var(--semi-dark-gray);
}

.lessons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
  
  width: 100%;
  margin-top: auto;
  
  // temporary
  // border: 1px solid var(--btn-violet);
  height: 70px;
}