.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: var(--violet-light);

  //temporary 
  height: 101px;
}

.today {
  color: var(--alert-light)
}

.not-current-month {
  background-color: var(--blue);
}