.ad-banner {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 56px 40px;
  background-color: var(--dark-violet);
  border-radius: 30px;
}

.ad-banner-info {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ad-banner-title {
  margin: 0;
  font-size: 32px;
  font-weight: normal;
  line-height: 32px;
  color: var(--white);
  white-space: pre-line;
  z-index: 1;
}

.ad-banner-text {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: var(--white);
  white-space: pre-line;
  z-index: 1;
}

.ad-banner-img {
  user-select: none;
  position: absolute;
  left: 66%;
  bottom: -113%;
  height: 304%;
}